.bodyAcount {
    background-color: #26908bfa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* text-align: center; */
    color: white;
}
#fondo-form {
    background-color: #2a928d;
    box-shadow: 1px 1px 30px 10px rgba(1, 1, 1, .5);
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 40px;
}
#fondo-form > a {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.centrar-texto {
    text-align: center;
}
#a-crear-cuenta {
    display: flex;
    text-align: center;
    margin: 20px 0px;
    color: white;
}
.logoAcount {
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: center;
    align-items: center;
}
input {
    display: flex;
    padding: 10px;
    width: 20vw;
    margin: 10px 0px;
    /* text-align: center; */
}
.boton-ingresar {
    /* text-align: center; */
    width: 100%;
    margin-top: 30px;
    background-color: rgb(0, 89, 95);
    border: none;
    color: white;
    justify-content: center;
    cursor: pointer;
}
.boton-ingresar:focus {
    outline: none;
}

.correct {
    display: none;
}
.incorrect {
    display: block;
    right: 0;
    color: rgb(0, 238, 255);
    font-size: calc(1vw);
}
.derecha {
    text-align: right;
    position: inherit;
    right: 0;
}
.loading-none {
    display: none;
}
.loading-user {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(62, 175, 81, 0.788);
    font-size: 2rem;
}
#no-existe {
    background-color: rgba(255, 32, 32, 0.808);
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    font-size: 1rem;
}