footer {
    /* border: 1px solid red; */
    background: rgba(128, 128, 128, 0.26);
    /* height: 15vh; */
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
    align-items: center;
}
h2 {
    margin: 0% 10px;
}
p {
    margin: 0% 20px;
    padding: 0;
}
#page-hundres {
    color: rgb(158, 34, 34);
}
.social-images {
    margin-left: calc(50vh - 3px);
}
.social-images > img {
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    cursor: pointer;
    border-radius: 20px;
}
.social-images > img:hover{
    box-shadow: 3px 8px 10px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 806px){
    footer {
        margin-top: 20px;
    }
    footer > h2 {
        margin-top: 10px;
    }
    .social-images {
        margin-left: 10px;
    }
}
@media screen and (max-width: 644px){
    footer {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        height: auto;
        margin-top: 20px;
    }
    footer > h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .social-images {
        margin-top: 10px;
    }
}