.main-inicio {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    /* background-color: red; */
    height: auto;
}
.main-inicio a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* border: 1px solid red; */
    width: 98.8vw;
    height: 25vw;
}
#galeria {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#galeria:hover {
    filter: opacity(.99);
}

.contenedor:hover #galeria {
    -webkit-transform:scale(.99);
    transform:scale(.99);
}
.contenedor {
    overflow:hidden;
}
.boton-flecha {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.514);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    z-index: 100;
    left: 10px;
    border: none;
    color: white;
    cursor: pointer;
}
.boton-flecha:focus {
    outline: none;
}
.boton-flecha:hover {
    background-color: rgba(255, 0, 0, 0.925);
}
.main-inicio > .boton-flecha {
    margin-top: 11vw;
}
.boton-flecha-r {
    left: calc(100vw - 70px);
    /* position: absolute;
    right: 10px; */
}