.row-products {
    text-align: center;
    min-height: calc(100vh-160.34px) !important;
}
.row-cards {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2vh 10vw;
    /* border: 1px solid green; */
}
.loading{
    display: flex;
    height: 59vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
@media screen and (max-width: 768px){
    .row-cards {
        width: 100%;
        padding: 0;
    }
}