header {
    display: flex;
    flex-direction: column;
}
.icono-nombre {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#seniales {
    display: none;
}
#title-componentes {
    margin-left: 20px;
}
.barra-cuenta {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2vh 0vh;
}
.cuenta-carrito {
    display: flex;
    flex-direction: row;
}

.barra-productos {
    display: flex;
    flex-wrap: wrap;
    background: rgba(128, 128, 128, 0.26);
}
ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
li{
    /* background-color: red; */
    padding: 10px;
    margin: 0px 10px;
    border-radius: 5px;
    cursor: pointer;
}
li:hover {
    background-color: rgba(128, 128, 128, 0.4);
}
a {
    text-decoration: none;
    color: black;
}
.ingresoAutorizado {
    font-weight: bold;
}
.menu-cuenta-invisible {
    display: none;
}
.menu-cuenta-visible {
    /* display: flex; */
    float: left;
    position: absolute;
    /* display: grid; */
    border: 1px solid green;
    flex-direction: column;
    list-style: none;
    background-color: rgba(146, 133, 133, 0.829);
    color: black;
    border-radius: 5px;
    border-color: black;
}
.menu-cuenta-visible ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    border-radius: 20px;
}
.menu-cuenta-visible li {
    /* background-color: red; */
    display: block;
    flex-direction: column;
}
.menu-cuenta-visible li:hover {
    background-color: rgb(102, 98, 98);
}
@media screen and (max-width: 612px){
    header {
        background-color: rgba(128, 128, 128, 0.4);
    }
    .cuenta-carrito {
        display: none;
    }
    .barra-cuenta {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #contenedor-seniales {
        display: flex;
        /* width: 100%; */
        height: auto;
        background-color: rgba(80, 76, 76, .5);
        border-radius: 30px;
        padding: 10px;
        position: fixed;
        right: 10px;
        z-index: 20;
    }
    #seniales {
        display: flex;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
    }
    .barra-productos {
        display: flex;
        position: fixed;
        background-color: rgba(161, 167, 161, 0.918);
        /* justify-content: center; */
        /* align-items: center; */
        z-index: 10;
        top: 0;
        left: -100vw;
        /* left: 0; */
        width: 100vw;
        height: 100vh;
        align-items: center;
        transition: .3s;
    }
    .barra-productos.activo {
        left: 0;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        /* height: 100vh; */
        padding: 0;
        margin: 0;
        /* max-height: 30px; */
    }
    li {
        margin: 0;
    }
    ul > a {
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 1.4em;
        color: black;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.37);
        margin: 5px 0;
    }
}