.producto-card {
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 3px rgba(216, 196, 196, 0.4);
    width: 20vw;
    min-width: 200px;
    height: 350px;
    /* height: auto; */
    text-align: center;
    /* cursor: pointer; */
    margin: 4vh 2vw;
}
.producto-card:hover {
    box-shadow: 1px 1px 3px 2px rgba(143, 141, 141, 0.1);
}
.h3-producto {
    text-align: center;
    padding: 10px;
    height: 50px;
}
.producto-card img {
    max-width: 190px;
    height: 100px;
}
.producto-card p {
    padding: 5px;
}
.price {
    color: red;
    margin: 5px;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border: none;
    padding: 1vh 0;
    border-radius: 5px;
    margin-top: 1vh;
    cursor: pointer;
}
.btn-producto-enviado {
    background-color: tomato;
    cursor: inherit;
}
.detalle {
    background-color: rgba(255, 255, 0, 0.459);
}
.detalle:hover {
    background-color: rgba(255, 255, 0, 0.9);
}
.enviar-carrito {
    background-color: rgba(60, 224, 39, 0.2);
}
.enviar-carrito:hover {
    background-color: rgba(60, 224, 39, 1);
}
.editar-admin {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(226, 118, 29, 0.788);
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 0 20px 0 20px;
}
.editar-admin:hover {
    background-color: rgba(219, 155, 102, 0.788);
}
.editar-admin:focus {
    outline: none;
}
.label-info-edit {
    display: flex;
    text-align: left;
    width: 80%;
}
.item-edit {
    height: auto;
    background-color: rgba(255, 136, 0, 0.247);
    padding: 2px;
    margin: 5px 0;
    width: 80%;
}
.label-true-false {
    background-color: rgba(43, 255, 0, 0.295);
    
}
@media screen and (max-width: 1024px){
    .producto-card {
        width: 30vw;
    }
}
@media screen and (max-width: 768px){
    .producto-card {
        width: 40vw;
        min-width: 40%;
    }
}
@media screen and (max-width: 425px){
    .producto-card {
        width: 80vw;
        min-width: 40%;
    }
}