.title-product-more-info {
    margin: 30px 0;
}
.producto-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.column-prod {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#image-more-info {
    width: 40vw;
    height: auto;
}
#price-color {
    width: 100%;
    color: red;
    font-size: 2em;
    margin: 0;
    padding: 0;
}
.column-prod img {
    margin-right: 5vw;
}
.description-prod {
    border: 1px solid rgb(0, 0, 0); 
    width: 25vw;
    display: flex;
    flex-direction: column;
    /* align-items: center;     */
    justify-content: center;
    padding: 10px 20px;
}
.description-prod select {
    align-items: center;
}
#mySelect {
    display: flex;
    padding: 5px 10px;
    /* margin-right: 5vh; */
    width: 100%;
    font-size: .8rem;
}
.btn-more {
    margin: 20px 0px;
    width: 100%;
    padding: calc(2px+3em);

}
.btn-more:focus {
    outline: none;
}
.btn-enviado {
    margin: 20px 0px;
    width: 100%;
    padding: calc(2px+3em);
    background-color: tomato;
    border: none;
    cursor: inherit;
}
.btn-enviado:hover {
    background-color: tomato;
    border: none;
}
.btn-enviado:focus {
    outline: none;
}
.text-content-prod {
    width: 80%;
    margin: 10px 10%;
}
.text-info {
    text-align: left;
    margin: 0;
    padding: 5px 0px;
    font-size: 1.5em;
}
.text-content {
    margin: 0;
    padding: 0;
    text-align: center;
    /* background-color: tomato; */
}
@media screen and (max-width: 768px){
    #price-color {
        font-size: 1.4em;
    }
    .text-content-prod {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
@media screen and (max-width: 425px){
    h2 {
        width: 80%;
        margin: 10px 10%;
        padding: 0;
    }
    .column-prod {
        flex-direction: column;
    }
    #image-more-info {
        width: 80vw;
        margin: 0;
    }
    #price-color {
        width: 100%;
    }
    #mySelect {
        width: 80%;
        margin: 10px 10%;
    }
    .description-prod {
        width: 80vw;
    }
}